# Git
.git
.gitignore
.gitattributes

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Docs
docs/
*.md
!README.md

# Kubernetes
k8s/

# Uploads
uploads/

# Misc
.DS_Store
*.log
