spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:20}
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
