spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/board}
    username: ${DB_USERNAME:board_user}
    password: ${DB_PASSWORD:board_pass}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: ${DB_POOL_SIZE:10}
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
