spring:
  application:
    name: board-api
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 50MB
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  mvc:
    throw-exception-if-no-handler-found: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

logging:
  level:
    org.board: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type: INFO
