apiVersion: apps/v1
kind: Deployment
metadata:
  name: board-backend
  namespace: board-app
  labels:
    app: board-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: board-backend
  template:
    metadata:
      labels:
        app: board-backend
    spec:
      containers:
        - name: board-backend
          image: suehunpark/board-be:1a7e44dd6dcd09b367e01c1a214a33b4c391e453
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http

          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: board-secret
                  key: DB_URL
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: board-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: board-secret
                  key: DB_PASSWORD
            - name: DB_POOL_SIZE
              valueFrom:
                secretKeyRef:
                  name: board-secret
                  key: DB_POOL_SIZE
            - name: SPRING_PROFILES_ACTIVE
              value: dev

          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
