apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: board-backend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Suehyun666/Board_BE.git
    targetRevision: master
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: board-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
